@model List<EmployeeDetailViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@Html.Raw(TempData["insert"])
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>MobileNo</th>
            <th>City</th>
            <th>Salary</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>@item.MobileNo</td>
                <td>@item.City</td>
                <td>@item.Salary</td>
                <td>@item.Department</td>
                @* <td>
                    <a asp-action="Edit" asp-route-id="@item.Eid">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Eid">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Eid">Delete</a>
                </td> *@
            </tr>
        }
    </tbody>
</table>
